<div id="feedback">
    <h1 class="text-center mb-4">Iron Man x Batman</h1>
    <div class="card animated zoomIn">
        <img src="assets/{{gif}}" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Você votou em {{personagemSelecionado}}</h5>
            <p class="card-text">Muito obrigado pela resposta!!!</p>
            <button type="button" class="btn btn-primary" (click)="votarNovamente()">Votar novamente</button>
        </div>

    </div>
</div>